@import "tailwindcss";


@font-face {
  font-family: 'Almarena';
  src: url('/fonts/Almarena2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* color define  */
:root {
  --dark: #252422;
  --light: #efedea;
  --theme-color: #efedea;
  --current-dark: #252422;  /*when dark mode */ 
  --current-light: #efedea;
  --animate-delay: 0.1s;
  --font-body: 'Almarena', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html {
  scroll-behavior: smooth;  
}

body {
  transition: background-color 0.6s ease, color 0.6s ease;
  font-family: var(--font-body);
}

::selection{
  background:  #00a27f;
}